small {
  font-size: 1rem;
  font-weight: lighter;
}

h3 {
  font-weight: 300;
}

.issue {
  cursor: pointer;
}

.issue-subinfo {
  font-size: .7rem;
  color: grey;
}

.nav-item {
  cursor: pointer;
}

.avatar {
  width: 35px;
  border-radius: 100%;
}

.label-picker {
  cursor: pointer;
  transition: all .1s;
}

.label-picker:hover {
  background-color: rgba(17, 228, 10, 0.5);
  transition: all .1s;
}

.label-active {
  background-color: rgb(255, 255, 255, .3);
}

.label-active:hover {
  background-color: rgba(255, 0, 0, 0.5);

}